body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.new {
  cursor: pointer;
  background-color: rgb(105, 31, 31);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
}

.container {
  width: 550px;
  height: 550px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}
